{% extends "polls/base.html" %}

{% block title %}
  <h1>{{ question.question_text }}</h1>
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
  {% for msg in messages %}
    <li class="{{msg.tags}}">{{ msg }}</li>
  {% endfor %}
</ul>
{% endif %}
  <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      {% for choice in question.choice_set.all %}
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
      {% endfor %}
  <input type="submit" value="Vote">
  </form>
  <br>
  <button style="margin-bottom: 10px;">
    <a href="{% url 'polls:results' question.id %}"">results</a></button>
  <br>
  <div class="border-top pt-3">
    <small class="text-muted">
      Back to <a href="{% url 'polls:index' %}"">polls index</a></button>
    </small>
  </div>
{% endblock %}