{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>KU-Polls</h1>

{% if messages %}
<ul class="messages">
  {% for msg in messages %}
    <li class="{{msg.tags}}">{{ msg }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if lastest_question_list %}
    <ul>
        {% for question in lastest_question_list %}
            <li>
                <b>{{ question.question_text }}</b>
                {% if question.can_vote %}
                <br><a href="{% url 'polls:detail' question.id %}">vote</a>
                </br>
                <a href="{% url 'polls:results' question.id %}">vote result</a>
                {% else %}
                <br><a href="{% url 'polls:results' question.id %}">vote result</a>
                <br>
                {% endif %}
            </li>
            {% endfor %}
    </ul>
{% else %}
    <p>
        No polls are available.
    </p>
{% endif %}