{% extends  "polls/base.html" %}

{% block title %}
  <h1>Polls</h1>
{% endblock %}

{% block content %}
  {% for question in lastest_question_list %}
    <div class="hoverable" style="padding-bottom: 20px;">
      <div class="container rounded" style="border:1px solid black;width: 90%;">
        <h3>{{ question.question_text }}
        {% if question.can_vote %}
          <br><a href="{% url 'polls:detail' question.id %}" style="font-size: 15px;">vote</a>
        {% endif %}
        <br><a href="{% url 'polls:results' question.id %}" style="font-size: 15px;">vote result</a>
        </h3>
        <div class="border-top pt-3">
          <small class="text-muted">
            poll will end on: {{ question.end_date }}
          </small>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}