{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div class="box-head"><h1>KU-Polls</h1></div>

<div class="box-container">
{% if messages %}
<ul class="messages">
  {% for msg in messages %}
    <li class="{{msg.tags}}">{{ msg }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if lastest_question_list %}
        <body>
        {% for question in lastest_question_list %}
                {% if question.can_vote %}
                <div class="box-question">
                    <b>{{ question.question_text }}</b>
                    <a href="{% url 'polls:detail' question.id %}">vote</a>
                    <br><a href="{% url 'polls:results' question.id %}">vote result</a>
                    <br>
                    </div>
                {% else %}
                    <div class="box-question">
                    <b>{{ question.question_text }}</b>
                    <br><a href="{% url 'polls:results' question.id %}">vote result</a>
                    <br>
                    </div>
                {% endif %}
        {% endfor %}
        </body>
{% else %}
    <p>
        No polls are available.
    </p>
{% endif %}
</div>

<script>

</script>