.h1 {
    font-size: 100px;
}

.container{
    width: 200px;
    height: 150px;
    background-color: aquamarine;
}

.container:hover{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}